@model Service
@{
    ViewBag.Title = "Servis Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Servis Güncelle</h4>
            <form asp-area="Admin" asp-action="Update" asp-controller="Service" enctype="multipart/form-data" method="post">

                @if (ViewContext.ModelState.ErrorCount > 0)
                {
                    <div class="form-group alert alert-danger" asp-validation-summary="All"></div>
                }

                <input type="hidden" asp-for="ServiceId" />
                <input type="hidden" asp-for="ImageUrl" />

                <div class="form-group">
                    <label class="form-control-label">Hizmet Adı</label>
                    <input type="text" class="form-control" placeholder="Hizmet Adı Giriniz" asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label class="form-control-label">Şu anki Hizmet Ikonu</label>
                    <img src="~/img/services/@Model.ImageUrl" style="width: 70px;height: 70px" class="form-control img-fluid img-thumbnail bg-white" />
                </div>                

                <div class="form-group">
                    <label class="form-control-label">Hizmet Ikonu</label>
                    <input type="file" class="form-control-file" asp-for="FormFile">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-11">
                        <button type="submit" class="btn btn-info">Güncelle</button>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-danger text-right" asp-area="Admin" asp-controller="Service" asp-action="Index">Vazgeç</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>